<%if current_user.active?%>
<%= render partial: 'shared/navs/admin_nav'%>
    <main>
      <div class="container px-4"><%= yield %></div>
    </main>
<%else%> <%= render partial: 'shared/header/inactive_header'%> <%end%>
