<%if current_user.employee? %>
<turbo-frame id="actions_frame">
  <%if connection_request.status == 'pending'%>
    <%= button_to 'Ignore', connection_path(connection_request, connection_request: { status: 'declined' }), method: :put, form: { data: { turbo_frame: 'status_frame' } }, class: "btn btn-outline-primary btn-sm" %>

    <%= button_to 'Accept', connection_path(connection_request, connection_request: { status: 'accepted' }), method: :put, form: { data: { turbo_frame: 'status_frame' } }, class: "btn btn-outline-primary btn-sm" %>
  <% elsif connection_request.status == 'declined' %>
      <span class="badge text-bg-danger"><%= connection_request.status%></span>
  <% elsif connection_request.status == 'accepted' %>
      <button class="btn btn-outline-primary btn-sm">Message</button>
  <% end %>
</turbo-frame>

<% else %>
  <%= render ConnectionStatusComponent.new(connection: connection_request)%>
<% end %>