<div class="d-flex align-items-center">
    <%= render AvatarComponent.new(avatarable: connection_request.employee, variant: :medium, classes: 'h-30 rounded-circle') %>
    <div class="ms-3">
        <h5 class="mb-0"><%= connection_request.employee.name %></h5>
        <small><%= connection_request.employee.heading%></small>
    </div>
</div>
<div>
  <%= render partial: 'actions', locals: { connection_request: connection_request } %>
</div>