<div class="row">
  <div class="col-md-4">
      <h5>Bio</h5>
      <p class="text-muted small">Share a few paragraphs on what makes you unique as a developer. This is your chance to market yourself to potential employers – sell yourself a little!</p>
  </div>

  <div class="col-md-8 my-2">
    <%=form.rich_text_area :bio, class: 'form-control', rows: 15 %>
  </div>
</div>