<!-- <h1 class="mt-4">Profile</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Profile</li>
</ol> -->
<div class="mt-4">
  <div class="card">

    <div class="card-body" style="height: auto; overflow-y: auto;">
        <%= render "profile_form", employee: @employee %>
    </div>
  </div>
</div>

