<!-- <h1 class="mt-4">Profile</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Profile</li>
</ol> -->
<div class="mt-4">
  <div class="card">
    <div class="card-header">
      <%= render partial: 'shared/employee/employee_profile', locals: {employee: @employee, current_tab: 'profile' } %>
    </div>
    <div class="card-body tab-content" id="tab-content" style="height: auto; overflow-y: auto;">
      <div
        class="tab-pane active"
        id="simple-tabpanel-1"
        role="tabpanel"
        aria-labelledby="simple-tab-1"
      >
        <%= render "profile_form", employee: @employee %>
      </div>
    </div>
  </div>
</div>

