<div class="row">
  <div class="col-md-4">
    <h5>Scheduling</h5>
    <p class="text-muted small">Share your scheduling link (Calendly, SavvyCal, etc.) to make it easier to organize interviews with businesses.</p>
  </div>

  <div class="col-md-8 my-2">
    <div class="mb-3">
      <div class="col-md-8 my-2">
        <div class="input-group mb-3">
           <span class="input-group-text" id="basic-addon3">https://</span>
          <%=form.text_field :scheduling_link, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>