<%if @shadcn_enabled %>
  <%= render partial: "employees/new_ui/edit", employee: @employee %>
<% else %>
  <div class="row">
  <div class="col-md-12 box shadow px-4 py-4 my-4 my-2 bg-light ">
    <div class="d-flex justify-content-between">
      <h5 class=" fw-bold">Update your talent profile</h5>
      <%= link_to "Public Profile", @employee, class: 'btn btn-block btn-md btn-dark' %>

    </div>
    <div class="my-5">
      <%= render "shared/messages", object: @employee %>
      <%= render "form", employee: @employee %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<% end %>


