<%if current_user.employee?%>
<%= render "employee_profile", employee: @employee %>
<%else%>
  <%= render "form", employee: @employee %>

  <br>

  <div>
    <%= link_to "Show this employee", @employee %> |
    <%= link_to "Back to employees", employees_path %>
  </div>
<%end%>