<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 box shadow px-4 py-4 my-4 my-2 ">
    <div class="text-center border-bottom">
      <h5 class="display-6 py-4 fw-bold">Create your talent profile</h5>
      <p class="lead mb-4">
    At RemoteTalentsource, we empower both employers and developers alike. Whether you're seeking top talent for your projects or searching for your next career-defining opportunity, our platform offers unparalleled resources and support. Best of all, our services are provided at no cost to developers, ensuring accessibility and inclusivity for all.
  </p>
    </div>
    <div class="my-5">
      <%= render "shared/messages", object: @employee %>
      <%= render "form", employee: @employee %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>


