<div class="row">
  <div class="col-md-12 box shadow px-4 py-4 my-4 my-2 bg-light ">
    <div class="d-flex justify-content-between">
      <h5 class=" fw-bold">Your talent profile</h5>
      <%= link_to "Edit Profile", edit_employee_path(@employee), class: 'btn btn-block btn-md btn-dark' %>

    </div>
    <div class="my-5">
      <%= render "shared/messages", object: @employee %>
      <%= render partial: 'public_profile', locals: { employee: @employee }%>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>




