<div class="row">
  <div class="col-md-12 box shadow px-4 py-4 my-4 my-2 ">
    <div class="d-flex justify-content-end">
      <%= link_to "Edit Profile", edit_employee_path(@employee), class: 'btn btn-block btn-md btn-dark' %>
    </div>
</div>
</div>

<div class="row">


  <%= render partial: 'public_profile', locals: { employee: @employee }%>


  <div class="col-md-2"></div>
</div>


