<div class="row">
  <div class="col-md-12 box shadow px-4 py-4 my-4 my-2 bg-light ">
    <div class="d-flex justify-content-between">
      <div>
        <h5 class=" fw-bold">Conversations</h5>
      </div>
    </div>
    <div class="my-5">
      <ol class="list-group">
        <%= render PagyPaginatorComponent.new(id: "notifications", pagy: @pagy, url_array: [:notifications]) do |component| %>
            <% @conversations.each do |conversation| %>
              <%= render partial: 'conversation', locals: {conversation: conversation }%>
            <% end %>
        <% end %>
        </div>
      </ol>

    </div>
  </div>
  <div class="col-md-2"></div>
</div>

