<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8  bg-white box shadow px-4 py-4 my-4 my-2 ">
    <div class="text-center border-bottom">
      <h5 class="display-6 py-4 fw-bold">Edit Your Job</h5>
    </div>
    <div class="my-5">
      <%= render "shared/messages", object: @job %>
      <%= render "form", job: @job, action: 'update' %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>


