<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 box shadow px-4 py-4 my-4 my-2 ">
    <div class="text-center border-bottom">
      <h5 class="display-6 py-4 fw-bold">Hire Talent, Fast.</h5>
      <p class="lead mb-4">
    Get your job posting seen by thousands of job seekers.
  </p>
    </div>
    <div class="my-5">
      <%= render "shared/messages", object: @job %>
      <%= render "form", job: @job %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>


