<div class="row">
  <div class="col-md-12 box shadow px-4 py-4 my-4 my-2 bg-light ">
    <div class="d-flex justify-content-between">
      <div>
        <h5 class=" fw-bold">Notifications
          <small>(<%= @notifications.unread.count%>)</small>
        </h5>

      </div>
      <%if @notifications.unread.any? %>

        <%= button_to 'Mark All as Read', mark_all_as_read_notifications_path, data: { turbo_method: :post }, class: "btn btn-primary"%>
      <% end %>
    </div>
    <div class="my-5">

      <ol class="list-group">
        <%= render PagyPaginatorComponent.new(id: "notifications", pagy: @pagy, url_array: [:notifications]) do |component| %>
          <% @notifications.each do |notification| %>
            <%= render partial: 'notification', locals: { notification:   notification }%>
          <% end %>
        <% end %>
        </div>
      </ol>

    </div>
  </div>
  <div class="col-md-2"></div>
</div>


