<span class="position-relative">
  <i class="bi bi-bell-fill"></i>
  <% if unread %>
    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle" style="width: 0.75rem; height: 0.75rem;">
      <span class="visually-hidden">New alerts</span>
    </span>
  <% end %>
</span>