<div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
  <div class="items-center justify-center lg:p-6 p-4">
    <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-900">What brings you to Remote Talent Source?</h2>
    <div class="w-full">
      <div class="flex flex-col w-full sm:flex-row mt-5">
        <%= link_to new_employee_path, class: "w-full  sm:mb-0 sm:w-1/2" do %>
          <div class="relative h-full ml-0 mr-0 sm:mr-10">
            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-gray-500 rounded-lg"></span>
            <div class="relative h-full p-5 bg-white border-2 border-gray-500 rounded-lg">
              <div class="flex items-center -mt-1">
                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">I'm looking for work</h3>
              </div>
              <p class="text-gray-600">You're a Pasionate developer looking for your next gig.</p>
            </div>
          </div>
        <% end %>
        <%= link_to new_company_path, class: "w-full  sm:mb-0 sm:w-1/2" do %>
          <div class="relative h-full ml-0 md:mr-10">
            <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-indigo-500 rounded-lg"></span>
            <div class="relative h-full p-5 bg-white border-2 border-indigo-500 rounded-lg">
              <div class="flex items-center -mt-1">
                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">I'm hiring developers</h3>
              </div>
              <p class="text-gray-600">You're a business looking to hire a freelance, part-time, or
                full-time developers.</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
