<div class="col-lg-8 mx-auto">
  <div class="box shadow-sm overflow-hidden rounded">
    <%= render Employees::CardComponent.with_collection(@employees) %>
  </div>
  <div class="mt-3 mb-4 pe-2 pe-lg-0 text-end">
    <%= link_to hiring_index_path, class: "btn btn-primary d-inline-flex
    align-items-center px-3 py-2" do %> Explore more...
    <i class="fas fa-arrow-right ms-2"></i>
    <% end %>
  </div>
</div>
