<section>
<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <h2>Popular services</h2>
            <a href="#" class="text-decoration-none">Looking for work? Browse jobs</a>
        </div>

        <%- Category.all.each do |category|%>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100 category-card">
                <div class="card-body">
                    <%= link_to hiring_index_path(categories: [category.id]), class: 'link-secondary text-decoration-none' do %>
                      <h5 class="card-title"><%= category.name %></h5>
                    <% end %>
                    <p class="card-text align-items-start">
                        <span class="text-success">★<%= rand(4.0..4.9).round(1) %>/5
                        </span> <%= rand(10_00).abs %> skills
                    </p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

</section>