<div class="px-4 py-5 text-center bg-light">
<h1 class="display-5 py-4 fw-bold">Remote Talent Source</h1>
<div class="col-lg-6 mx-auto">
  <p class="lead mb-4">
    At RemoteTalentsource, we empower both employers and developers alike. Whether you're seeking top talent for your projects or searching for your next career-defining opportunity, our platform offers unparalleled resources and support. Best of all, our services are provided at no cost to developers, ensuring accessibility and inclusivity for all.
  </p>
  <p class="lead mb-4">
    Join RemoteTalentsource today and unlock a world of possibilities in the remote work landscape.
  </p>
  <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Start Hiring Free</button>
    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Find Jobs</button>
  </div>
</div>
</div>