<div class="mt-8 flex flex-col">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <% headers.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% rows.each do |row| %>
          <tr>
            <%= row %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
