<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Sort
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li>
      <%= link_to "Newest", hiring_index_path(sort: "newest"), class: "dropdown-item", remote: true %>
    </li>
    <li>
      <%= link_to "Most Viewed", hiring_index_path(sort: "mostviewed"), class: "dropdown-item", remote: true %>
    </li>
  </ul>
</div>
