<div class="row">
  <div class="col-md-4">
      <h5>Bio</h5>
      <p class="text-muted small">Tell us about your company! Highlight your unique value proposition, mission, and company culture. Share what sets your organization apart and why talented individuals should be excited to join your team. This is your opportunity to showcase what makes your company a great place to work and grow professionally.</p>
  </div>

  <div class="col-md-8 my-2">
    <%=form.rich_text_area :bio, class: 'form-control trix-max-height', data: { controller: "action-text" }, rows: 15 %>
  </div>
</div>