<div class="mt-4">
  <div class="box">
      <%= render "shared/messages", object: @company %>
      <div class="row">
        <div class="col-md-8 my-2"><%= render "form", company: @company %></div>
      </div>
  </div>
</div>
