  <div class="w-full shadow px-6 py-6 my-6 bg-gray-100">
    <div class="flex justify-between items-center mb-5">
      <h5 class="text-lg font-bold">Update your talent profile</h5>
      <%= link_to "Public Profile", @employee, class: 'bg-gray-800 text-white py-2 px-4 rounded' %>
    </div>
    <div class="mt-5">
      <%= render "shared/messages", object: @employee %>
      <%= render partial: "employees/new_ui/edit_form", locals: { employee: @employee } %>
    </div>
  </div>

