//
// Global
//

html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.field_with_errors input.form-control,
.field_with_errors select.form-select {
  border: 1px solid red;
}

