.form-check-input:checked {
    background-color: #343a40;
    border-color: #343a40;
}


.h-8 {
    width: 2rem;
    height: 2rem;
}



.h-9 {
    width: 3rem;
    height: 3rem;
}


.h-24 {
    width: 6rem;
    height: 6rem;
}

.h-32 {
    height: 8rem;
    width: 8rem; /* Assuming you want to set width as well */
}