<h6 class="text-secondary fw-medium">Location</h6>
<div class="d-flex align-items-center">
  <i class="fas fa-map-marker-alt" title="Location"></i>
  <span class="fw-medium ms-2"><%= location %></span>
</div>