<div class="flex items-center space-x-2">
  <i class="fas fa-clock h-5 w-5 text-gray-400" title="Timezone"></i>
  <span class="text-gray-900 text-sm font-medium">
    <%= time_zone %> (<%= render UtcOffsets::Component.new(utc_offset) %>)
  </span>
</div>
