<h6 class="text-secondary fw-medium">Timezone</h6>
<div class="d-flex align-items-center">
  <i class="fas fa-clock" title="Timezone"></i>
  <span class="fw-medium ms-2"><%= time_zone %> (<%= render UtcOffsets::Component.new(utc_offset) %>)</span>
</div>
