<div class="card py-3 mt-5">
  <div class="card-body">
    <h5 class="card-title">Looking for hire individually someone?</h5>
    <p class="card-text">You need to provide some information, that will help us to find better opportunity for you, by clicking continue you are agree to provide information.</p>
    <a href="#" class="btn btn-primary">Contninue</a>
  </div>
</div>